body{
    font-family: 'Montserrat', sans-serif;
}
.container {
    width: 1160px;
    margin: 0 auto;
}

header {
    background-image: url(step-project1/img/Sections\ background/section-1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo-wrapper{
    display: flex;
    gap: 6px;
    position: relative;
}

.logo-letter{
    position: absolute;
    top: 33px;
    left: 13px;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}
.logo-name {
font-size: 32px;
font-weight: 400;
line-height: 48px;
letter-spacing: 0px;
color: #fff;
margin-top: 38px;

}
.logo-name-color {
    color: #18CFAB;
    font-weight: 700;
}
.navbar{
    background: #5E5D5899;
}
.navbar-wrapper{
    display: flex;
    gap: 305px;
    margin-bottom: 50px;
}

.navbar-list{
    display: flex;
    gap: 21px;
    font-weight: 700;
    font-size: 16px;
    font-style: normal;
    line-height: 25px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 50px;
}
.navbar-list::after{
    content: url(step-project1/img/logo/Search-icon.png);
    width: 20px;
    height: 20px;
}


.navbar-list-item:hover {
    color: rgba(24, 207, 171, 1);
}

.hero-tittle{
    font-weight: 700;
    font-size: 35px;
    line-height: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin-top: 264px;
}

.hero-up-tittle{
    font-family: Montserrat;
    font-size: 78px;
    font-weight: 700;
    line-height: 1px;
    letter-spacing: 0px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}
.hero-subtittle{
    font-weight: 400;
    font-size: 34px;
    line-height: 1px;
    text-align: center;
    color: #fff;
}

.hero-tittle-make-color{
    color: #18CFAB;
}

.wrapper-btn{
   display: flex;
   justify-content: center;
    margin-top: 134px;
    gap: 26px;
    position: relative;
    padding-bottom: 243px;
}

.button-primary{
    background: #18CFAB;
    width: 169px;
    height: 63px;
    position: relative;
    border-radius: 4px;
    border: 1px solid #18CFAB;
    transform-style: preserve-3d;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    
}

.button-primary:before {
    width: 169px;
    height: 45px;
    border-radius: 4px;
    content: "";
    background: #fff;
    position: absolute;
    left: -1px;
    bottom: 23px;
    transform: translateZ(-1px);
}

.button-change-color {
    background-color: rgba(0, 203, 246, 1);
}

.advantages-list{
    display: flex;
    margin-top: 8px;
    padding-left: 0;
    height: 377px;
}
.advantages-list-item{
    display: flex;
    flex: 1;
    flex-direction: column;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    text-transform: uppercase;
    background: #1C2A33;
    align-items: center;
    justify-content: center;
    color: #18CFAB;
}

.advantages-logo{
    margin-bottom: 47px;
}
.advantages-list-item-color{
    background: #18CFAB;
    color: #FFFFFF;
}
.our-services{
    padding-bottom: 90px;
}
.primary-tittle{
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 0;
    padding-top: 80px;
}


.hr-primary{
    border: #18CFAB 1px solid;
    width: 85px;
    height: 1px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 80px;
    position: relative;
    
}
.hr-primary::after{
    content: "";
    display: block;
    border: #18CFAB 1px solid;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 3px;
    left: 30%;
}
.primary-list{
    display: flex;
    text-align: center;
    padding-left: 0;
    margin-bottom: 1.5em;
}
.primary-list-item{
    flex: 1;
    border: 1px solid #DADADA;
    color: #717171;
    font-size: 16px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0px;
    padding: 1em;
    cursor: pointer;
}
.our-service-background-active{
    background-color: #18CFAB;
    color: #fff;
    position: relative;
}
.our-service-background-active::after{
    content: url(step-project1/img/logo/arrow-down.png);
    position: absolute;
    top: 57px;
    left: 88px;
}



.primary-list-item:hover{
    border: 1px solid #18CFAB
}
.our-services-content{
    display: flex;
    gap: 15px;
}
.our-services-photo{
    width: 192px;
    height: 139px;
}

.our-services-photo-hidden{
    display: none;
}

.our-services-text-hidden{
    display: none;
}

.our-services-text-content{
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    margin: 0;
}

.purchase {
    padding:  126px 0;
    background: url('step-project1/img/purchase/BG.png') center/cover  no-repeat;
}

.purchase-title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 13px;
    color: #18CFAB;
    text-align: center;
    text-transform: uppercase;
}

.purchase-subtitle {
    font-weight: 400;
    text-align: center;
    color: #D8D8D8;
    margin-bottom: 62px;
}

.purchase-button-container { 
    display: flex;
    justify-content: center;
}
.work{
    background: #E9EDEF;
    padding-bottom: 50px;
}

.work-list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
    list-style: none;
    padding-left: 0;
}

.work-service-elements{
    display: flex;
    justify-content: center;
    align-items: center;
}
.work-list-btn{
    border: 1px solid #DADADA;
    color: #717171;
    font-size: 16px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0px;
    padding: 1.5em;
    cursor: pointer;
}

.border-active{
    border: #18CFAB 1px solid;
    color: rgba(24, 207, 171, 1);
}
.work-list-item {
    position: relative;
    background-color: #fff;
    overflow: hidden;
}
.work-photo{
    height: 100%;
}
.work-list-hidden {
    display: none;
}

.work-list-themed-hidden {
    display: none;
}

.hidden-block {
    position: absolute;
    bottom: -274px;
    right: 0;
    padding: 42px 48px 56px 50px;
    text-align: center;
    background: #ffffff;
    border-top: 2px solid #18CFAB;
    width: 100%;
    height: 100%;
    transition: bottom 0.6s;
}

.work-list-item:hover .hidden-block {
    bottom: 0;
}

.tittle-hidden-block {
    font-weight: 700;
    font-size: 14.1771px;
    line-height: 25px;
    text-transform: uppercase;
    color: #18CFAB;
}

.subtittle-hidden-block {
    font-weight: 300;
    font-size: 12.1518px;
    line-height: 25px;
    color: #8A8A8A;
}

.new-subtittle-hidden-block {
    font-weight: 300;
    font-size: 12.1518px;
    line-height: 25px;
    color: #8A8A8A;
}

.image-hidden-block-scrap{
    border: #18CFAB 1px solid;
    border-radius: 50%;
    padding: 10px;
    margin-right: 16px;
}

.circle-figure {
    display: inline-block;
    border: #18CFAB 1px solid;
    border-radius: 50%;
    height: 37px;
    width: 37px;
    background-color: #18CFAB;
    z-index: 1;
    position: relative;
}

.square-figure {
    border: #18CFAB 1px solid;
    padding: 5px;
   background-color: #FFFFFF;
    position: absolute;
    width: 11px;
    height: 12px;
    left: 30%;
    top: 30%;
}

.btn-work {
    display: flex;
    background: #18CFAB;
    border: #18CFAB 1px solid;
    width: 168px;
    height: 63px;
    font-size: 14px;
    font-weight: 700;
     line-height: 42px;
    letter-spacing: 0px;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 0 auto;
    margin-top: 70px;
    cursor: pointer;
    /* padding: 13px 8px 8px 41px; */
    
}
.btn-work::before {
    content: url(step-project1/img/logo/plus.png);
    margin-right: 15px;
    margin-top:  5px;
}

.news {
    padding-bottom: 130px;
}
.news-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
}

.news-image {
    width: 263px;
    height: 208px;
}

.news-list-item {
    position: relative;
}

.news-list-item:hover .news-date {
    background-color: rgba(24, 207, 171, 1);
}

.news-list-item:hover .news-tittle {
    color: rgba(24, 207, 171, 1);
}


.news-tittle {
    font-size: 18px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    margin-left: 20px;
    margin-bottom: 0;
    margin-top: 5px;
    color: #717171;
}

.news-subtittle {
    display: flex;
    gap: 20px;
    align-items: center;
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    line-height: 39px;
    letter-spacing: 0px;
    margin-left: 20px;
}

.news-subtittle-line {
    height: 20px;
    width: 1px;
    background: #777777;
}

.news-date {
    display: inline-block;
    position: absolute;
    background-color: #203E38;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    color: #fff;
    width: 70px;
    height: 68px;
    z-index: 50;
    top: 0;
   right: 0;
   padding-top: 10px;
}

.news-date > p {
    margin: 0;
}

.people-opinion {
    background-image: url(step-project1/img/Sections\ background/section-3.jpg);
}

.people-opinion-tittle{
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 100px;
}

.people-opinion-figure{
    padding-bottom: 37px;
    display: block;
    margin: auto;
}

.opinion-text {
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: center;
    color: #BBBBBB;
}
.author-name {
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: center;
    color: #18CFAB;
    margin-top: 40px;

}
.author-role {
    font-size: 13px;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: center;
    color: #BBBBBB;
    margin-top: 0;
    margin-bottom: 38px;
}

.big-image {
    display: block;
    margin: 0 auto;
    width: 143px;
    height: 142px;
    border: 10px solid rgba(31, 218, 181, .3);
    border-radius: 50%;
    /* position: relative; */
}

.owl-carousel .owl-item .big-image  {
    width: auto !important;
}

.owl-carousel .owl-item .people-opinion-figure {
    width: auto !important;
}

.owl-dots {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    gap: 38px;
}

.owl-dot {
    outline: none;
  border: 0;
  background: transparent;
}

.owl-mini-image{
    border: 5px solid rgba(31, 218, 181, .3);
    border-radius: 50%;
}

.button-owl-dot  , .active {
padding-bottom: 15px;
}

.nav-container{
    position: relative;
    padding-bottom: 100px;
}

button.owl-next{
    position: absolute;
    right: 300px;
    bottom: 130px;
    width: 33px;
    height: 30px;
    outline: none;
    border: 1px solid rgba(187, 187, 187, 1);
     background: transparent;
}

button.owl-prev {
    position: absolute;
    left: 300px;
    top: 25px;
    width: 33px;
    /* height: 34px; */
    outline: none;
    border: 1px solid rgba(187, 187, 187, 1);
     background: transparent;
     
}

button.owl-next > span {
    display: inline-block;
    color: rgba(187, 187, 187, 1);
    font-weight: 700;
    font-size: 30px;
    margin-top: -8px;
}
button.owl-prev > span {
    display: block;
    color: rgba(187, 187, 187, 1);
    font-weight: 700;
    font-size: 30px;
    margin-top: -8px;
}

button.owl-prev:hover {
    background-color: #18CFAB;
}

button.owl-next:hover {
    background-color: #18CFAB;
}

button.owl-prev:hover >span {
   color: rgba(255, 255, 255, 1);
}

button.owl-next:hover > span{
    color: rgba(255, 255, 255, 1);   
}

.footer {
    background: #22353F;
}
.footer-content {
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0px;
    color: #AEAEAE;
    margin-top: 0;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

.footer-change-color {
    color: #18CFAB;
}
